__*
code/python/*.mol*
code/python/*.inp
code/python/*.csv
code/python/*.exe
code/python/*.xyz
code/python/*.txt
code/python/rotations*
code/python/StereoisomerList*
code/python/SubstratalScaffold*
code/python/*-enumeration*
*.log
*.o
*.exe
*.inp
*StereoisomerList*
*Stereoisomerlist*
working.ipynb
.ipynb_checkpoints*



